{% extends "base.html" %}
{% block title %}Products{% endblock %}
{% block content %}
    <h1>Products</h1>
    <div class="product-container">
        {% for product in products %}
        <div class="product-tile">
            <img class="product-image" src="{{ product.image_url }}" alt="{{ product.Title }}" width="150">
            <div class="product-title">{{ product.Title }}</div>
            <div class="product-description">{{ product.Description }}</div>
            <div class="product-price">${{ product.Price }}</div>
            <form action="{{ url_for('add_to_cart', product_id=product.Product_ID) }}" method="post">
                <button type="submit" class="add-to-cart-btn">Add to Cart</button>
            </form>
        </div>
        {% endfor %}
    </div>
{% endblock %}
