{% extends "base.html" %}
{% block heading %}Create Account{% endblock %}
{% block content %}
    <h1>User Registration</h1>
    <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="email">E-mail:</label>
        <input type="text" id="email" name="email" required><br><br>
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br><br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <select id="account_type" name="account_type">
            <option value="vendor">Vendor</option>
            <option value="customer">Customer</option>
        </select><br><br>
        <button type="submit">Register</button>
    </form>
{% endblock %}